  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-register-input {
    width: 25%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-register-button {
    width: 15%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .message {
    text-align: center;
    color: red;
    margin-top: 20px;
  }
  