.user-detail {
  padding: 20px;
}

.user-detail button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
}

.user-detail button:hover {
  background-color: #45a049;
}
/* styles.css */

/* Зургийн контейнер */
.user-detail img {
  max-width: 50%; 
  height: 100px; 
  display: block; 
}
